/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 20px 10px;
    background-color: #19B5FE;
    color: #fff;
    font-size: 150%;
}