<!DOCTYPE html>
<html>
  <head>
    <title>RailsAgenda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Contatos
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>      
    </div>
  </body>
</html>
